# ==============================================================================
# OpenBao Bootstrap Configuration
# ==============================================================================
# Target Environment: dev | int | prod
APP_ENV=dev

# OpenBao Endpoint & Access Token
BAO_ADDR=http://localhost:8200
BAO_TOKEN=root
